*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 70%;
    margin: auto;
}

.title-text{
    text-align: center;
}

.title-text h1{
    margin: 30px 0 40px;
}

.card{
    height: 120px;
    float: left;
    margin: 40px 15px 0;
    width: calc(100% / 3 - 30px);
    background-color: black;
}

.card > div{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
 }

.photo{
    height: 120px;
    width: 120px;
    background-image: url(../img/male1.png);
    background-size: cover;
}

.info{
    height: 100%;
    color: white;
}

.info span, a{
    display: block;
}

.text-center{
    vertical-align: middle;
}