*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    ;
}

main{
    width: 70%;
    margin: auto;
}

.title-text{
    text-align: center;
}

.title-text h1{
    margin: 30px 0 40px;
    font-size: 45px;
    font-weight: 900;
    color: #e53170;
}

.card{
    height: 120px;
    float: left;
    margin: 40px 15px 0;
    width: calc(100% / 3 - 30px);
    background-color: black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.card > div{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
 }

.photo{
    height: 100%;
    width: 28%;
    background-size: cover;
}

.info{
    height: 100%;
    color: white;
    width: 72%;
}

.info span, .info a{
    display: block;
}

.text-center{
    vertical-align: middle;
    padding: 17px 20px 0;
}

.text-center *{
    line-height: 30px;
}

.name{
    font-size: 20px;
    font-weight: 900;
}

a{
    color: skyblue;
    text-decoration: none;
}

.photo.one{
    background-image: url(../img/male1.png);
}

.photo.two{
    background-image: url(../img/female1.png);
}

.photo.three{
    background-image: url(../img/male2.png);
}

.photo.four{
    background-image: url(../img/female2.png);
}

.photo.five{
    background-image: url(../img/male3.png);
}

.photo.six{
    background-image: url(../img/female3.png);
}